@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import 'tailwindcss';

@layer base {
  body {
    font-family:
      Spoqa Han Sans Neo,
      'Noto Sans KR',
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Open Sans,
      Helvetica Neue,
      sans-serif;
    min-width: 360px;
  }
}

/* Prism.js 스타일 오버라이드 */
@layer utilities {
  code[class*='language-'],
  pre[class*='language-'] {
    font-size: 0.9em !important;
  }
}
